@import "src/assets/styles/variable";
@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.service-block{
  position: relative;
  padding-bottom: 100px;
  @include screen($max-width-1024) {
    padding-top: 50px;
  }
  @include screen($max-width-768) {
    padding-top: 70px;
  }
  @include screen($max-width-576) {
    padding-top: 100px;
  }
  .our-service-h2{
    position: absolute;
    top: -100px;
    width: 100%;
    @include screen($max-width-1024) {
      top: -50px;
    }
    @include screen($max-width-768) {
      top: -30px;
    }
    @include screen($max-width-576) {
        top: 0;
    }
  }
  .service-items-list{
    @include screen($max-width-576) {
      flex-direction: column !important;
      margin: 0 auto;
    }
  }
}