@font-face {
  font-family: Laila;
  src: url('../fonts/Laila-Bold.ttf');
  font-weight: 900;
}
@font-face {
  font-family: Open-sans-bold;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Open-sans-light;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Open-sans-lighter;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Open-sans-bolder;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 800;
}