$whiteC: #fff;
$greenC: #00A651;
$darkgreenC: #005F15;
$grayC: #666;

$max-width-1440        : 1440px;
$max-width-1024        : 1024px;
$max-width-991         : 991px;
$max-width-768         : 768px;
$max-width-576         : 576px;
$max-width-440         : 440px;
